@use "variables" as *;
@use "responsive" as *;

html {
    box-sizing: border-box;
    font-size: 100%;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: $darkBlue;
}

.hide{
    display: none;
}

.show{
    display: block;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .adviceGenerator {
        background-color: $darkGrayishBlue;
        padding: 1em;
        margin: 1em;
        border-radius: 10px;
        text-align: center;

        .adviceNoColumn {
            display: flex;
            justify-content: center;
            letter-spacing: 4px;
            color: $neonGreen;
            font-size: 0.8em;
            margin: 1em 0em;

            .adviceNo {
                margin-right: 0.2em;
            }
        }

        .adviceColumn {
            color: $lightCyan;
            font-size: 1.5em;

            .advice {
                margin-bottom: 0.5em;
            }

            .loadingCircle {
                width: 1.8em;
                height: 1.8em;
                margin: 1.2em auto;
                border: 5px solid rgba(255, 255, 255, 0.2);
                border-radius: 50%;
                border-top-color: #fff;
                animation: loading 1s linear infinite;
            }

            

            .dice {
                position: relative;
                top: 1.5em;
                background-color: $neonGreen;
                outline: 10px solid $neonGreen;
                border-radius: 30%;
                transition: all ease-in-out 100ms;
            }            

            .diceAnim{
                animation: dice linear 1s;                
            }

        }
    }
}


//Animations
@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dice {
    
    50%{
        transform: scale(115%);
    }
    
    100%{
        transform: scale(100%);
    }
}
